body {
    font-family: Roboto, Arial;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 18px;
    padding: 10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.push {
    margin-left: auto;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    width: 70%;
}