body {
    font-family: Roboto, Arial;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    width: 70%;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.push {
    margin-left: auto;
}

.hero {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 500px;
}

p, h1 {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-signup {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 120px;
    margin-top: 10px;
}

.image-placeholder {
    background-color: rgb(106, 115, 121);
    color: rgb(255, 255, 255);
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.main-box-container {
    display: flex;
    justify-content: center;
}

section {
    text-align: center;
}

.box-container {
    display: flex;
    align-items: center;
    flex-flow: column;
    flex-basis: 200px;
    gap: 10px;
}

.box-container p {
    color: #1F2937;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.quote-container {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}